<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGameService" closeTimeout="00:01:00" openTimeout="00:01:00"
						 receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered"
						 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None">
                        
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:9999/GameService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameService" contract="WCFGameService.IGameService"
                name="NetTcpBinding_IGameService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
		<behaviors>
			<endpointBehaviors>
				<behavior >
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
    </system.serviceModel>
</configuration>